<div id="like-id"><%= @like.id %></div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @like.product_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @like.user_id %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
