<div class="row">
<div class="col-lg-offset-2 col-lg-8">
<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag_name %><br>
    <%= f.text_field :tag_name %>
  </div>

  <% if @tags.present? %>
  <div class="field">
    <%= f.label :assoc_tags %><br>
    <%= f.collection_select(:assoc_tags, @tags, :id, :tag_name, {:prompt => true}, {:class=>'form-control'}) %>
  </div>
  <% end %>

    <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :display %><br>
    <%= f.check_box :display %>
  </div>

    <div class="field">
    <%= f.label :tag_type %><br>
    <%= f.select :tag_type, ['person','activity','interest', 'category'], {:include_blank => true}%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>